// MOBILE STYLES
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $spacing;

  .socialIcons {
    .icon {
      display: none;
    }
  }
}

.topContent {
  border-bottom: 1px solid $grey;
}

.personalImage {
  display: flex;
  justify-content: center;
  margin-bottom: $spacing;

  img {
    height: 300px;
    z-index: 50;
  }
}

.contentContainer {
  padding: 10px !important;

  h4 {
    color: $bg-btn-color;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  h5 {
    color: $text-color;
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.contentDescription {
  color: $secondary-text-color;
}

.infoContainer {
  border-top: 1px solid $grey;
  margin-top: $sm-spacing;
  padding-top: $sm-spacing;

  span {
    color: $text-color;
  }

  p {
    color: $secondary-text-color;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  a {
    color: $bg-btn-color;
    &:hover {
      color: $bg-btn-color-hover;
    }
  }
}

.info {
  padding-left: 13px;
}

.iconsContainer {
  margin-top: 25px;
}

.hobbyContainer,
.skillsContainer {
  margin-top: 55px;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 299px;
    height: 200px;
    padding: 25px 0;
    text-align: center;
    border-radius: 15px;
    background-color: $bg-color-card;
    box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.48);

    .card-img {
      max-width: 80px;
    }

    .card-title {
      margin-top: 15px;
      color: $text-color;
    }
  }
}

.educationContainer {
  margin-top: 55px;

  .card-education {
    padding: 25px 35px;
    border-radius: 15px;
    background-color: $bg-color-card;
    color: $text-color;
    box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.48);
  }
}

.certificationContainer {
  margin: 55px auto 35px;

  .cardCertif {
    max-width: 630px;
    padding: 15px;
    border-radius: 10px;
    background-color: $bg-color-card;
    box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.48);

    .img-certif {
      max-height: 500px;
      overflow: auto;

      .card-certif-img {
        height: 100%;
        width: 100% !important;
        object-fit: cover !important;
        object-position: 50 50 !important;
        border: 1px solid white;
      }
    }

    .card-certif-title {
      text-align: center;
      color: $text-color;
      font-size: 20px;
      margin-top: 15px;
    }
  }
}

@media (min-width: 750px) {
  .about {
    .socialIcons {
      .icon {
        display: flex;
      }
    }
    .socialIcons::before {
      background-color: $grey;
      content: "";
      height: 2px;
      width: $sm-spacing;
      display: inline-block;
      margin-bottom: 5px;
      margin-right: 10px;
    }
  }

  .card-title-education {
    font-size: 25px;
  }

  .card-subtitle-education {
    font-size: 15px;
  }

  .card-text-education {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .personalImage {
    height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 605px;
      z-index: 50;
      border-radius: 0;
      padding: 3px;
    }
  }
}
