$bg-color: #131c38;
$bg-color-card: #141f3d;
$bg-btn-color: #4f70f8;
$bg-btn-color-hover: #2d4bc0;
$text-color: #f3f3f3;
$btn-text-color: #f9f9f9;
$secondary-text-color: #9f9f9f;
$grey: #9f9f9f76;
$spacing: 50px;
$sm-spacing: 30px;
