@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background-color: #131c38;
}

body {
  font-family: "Poppins", sans-serif;
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(1%);
    opacity: 1;
  }
}
.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.layout .content {
  width: 100%;
}

::selection {
  background-color: #4f70f8;
  color: #f3f3f3;
}

.pageTitle {
  color: #f3f3f3;
  font-size: 36px;
  margin-bottom: 50px;
}

.subPageTitle {
  color: #f3f3f3;
  font-size: 36px;
  margin-bottom: 30px;
}

.pageDescription {
  color: rgba(159, 159, 159, 0.462745098);
  font-size: 14px;
}

.btn {
  color: #f9f9f9;
  background-color: #4f70f8;
  border: none;
  font-size: 14px;
  padding: 12px 30px;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  background-color: #2d4bc0;
}

.header {
  padding: 30px 50px;
  color: #f3f3f3;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: 10px;
}

.links {
  display: none;
  position: absolute;
  top: 93px;
  right: 0px;
  background-color: #131c38;
  width: 100%;
  padding: 10px;
  z-index: 999;
  border-radius: 10px;
}
.links a {
  text-decoration: none;
  color: #f3f3f3;
  font-size: 15px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: relative;
}
.links a:hover {
  color: #9f9f9f;
}
.links.open {
  display: block;
  animation: slideDown 0.5s ease-in-out forwards;
}
.links .closed {
  background-color: transparent;
}

.dropdown-toggle {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.openMenu,
.closeMenu {
  height: 20px;
  transition: transform 0.5s ease-in-out;
}

.closeMenu {
  transform: rotate(180deg);
  cursor: pointer;
}

.links.closed {
  background-color: transparent;
}

.footerContainer {
  text-align: center;
  margin: 0 auto;
  padding: 15px 0 !important;
}
.footerContainer .footer-body {
  color: #f3f3f3;
  font-size: 20px;
  font-weight: 400;
}

@media (min-width: 750px) {
  .header {
    color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .links {
    display: flex;
    background-color: #131c38;
    justify-content: center;
    position: relative;
    top: auto;
    width: 0;
    left: 0;
    padding: 0 10px;
  }
  .links a {
    padding: 0px;
    margin-left: 3px;
  }
  .links a:not(:last-child) {
    margin-right: 20px;
  }
  .links a:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #f3f3f3;
    transition: width 0.3s ease-in-out;
  }
  .links a:hover:before {
    width: 100%;
  }
  .links a.active:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #f3f3f3;
    transition: width 0.3s ease-in-out;
    width: 100%;
  }
  .links.open {
    display: flex;
  }
  .dropdown-toggle {
    display: none;
  }
  .closed {
    background-color: transparent;
  }
  .footerContainer {
    padding: 35px 0 !important;
  }
}
.socialIcons {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.socialIcons .icon {
  display: inline-flex;
  width: 35px;
  height: 35px;
  font-size: 15px !important;
  text-decoration: none;
  color: #f3f3f3;
  border-radius: 50%;
  outline: 1px solid #f3f3f3;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}
.socialIcons .icon:hover {
  outline-offset: 4px;
}
.socialIcons .icon:hover i {
  animation: shake 0.25s;
}
.socialIcons .icon i {
  margin: auto;
}
.socialIcons .icon--instagram:hover {
  background-image: radial-gradient(circle at 20% 80%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  outline-color: #a02d76;
}
.socialIcons .icon--facebook:hover {
  background-color: #4267b2;
  outline-color: #4267b2;
}
.socialIcons .icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}
.socialIcons .icon--github:hover {
  background-color: #000000;
  outline-color: #000000;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}
@media (min-width: 750px) {
  .socialIcons {
    display: flex;
    align-items: center;
    column-gap: 25px;
  }
  .socialIcons .icon {
    display: inline-flex;
    width: 45px;
    height: 45px;
    font-size: 23px !important;
    text-decoration: none;
    color: #f3f3f3;
    border-radius: 50%;
    outline: 2px solid #f3f3f3;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
  }
  .socialIcons .icon .fa-brands {
    padding-left: 2px;
  }
}
.landing .name {
  font-size: 48px;
}
.landing .description {
  font-size: 22px;
}
.landing .socialIcons {
  margin-top: 15px;
  padding-bottom: 30px;
}
.landing .socialIcons::before, .landing .socialIcons::after {
  background-color: rgba(159, 159, 159, 0.462745098);
  content: "";
  height: 2px;
  width: 50px;
  display: flex;
  align-items: center !important;
}

.landingImage {
  right: 0px;
}

.downloadCV {
  margin-top: var(--sm-spacing);
  margin-bottom: var(--sm-spacing);
}

.buttonContainer {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 750px) {
  .landing .name {
    font-size: 70px;
  }
  .landing .description {
    font-size: 32px;
  }
  .landingImage {
    bottom: 0;
    right: 80px;
  }
  .textContainer {
    width: 100%;
  }
  .buttonContainer {
    width: 65%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media (min-width: 992px) {
  .buttonContainer {
    width: 30%;
    margin: 30px auto;
  }
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.about .socialIcons .icon {
  display: none;
}

.topContent {
  border-bottom: 1px solid rgba(159, 159, 159, 0.462745098);
}

.personalImage {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.personalImage img {
  height: 300px;
  z-index: 50;
}

.contentContainer {
  padding: 10px !important;
}
.contentContainer h4 {
  color: #4f70f8;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}
.contentContainer h5 {
  color: #f3f3f3;
  font-size: 20px;
  margin-bottom: 15px;
}

.contentDescription {
  color: #9f9f9f;
}

.infoContainer {
  border-top: 1px solid rgba(159, 159, 159, 0.462745098);
  margin-top: 30px;
  padding-top: 30px;
}
.infoContainer span {
  color: #f3f3f3;
}
.infoContainer p {
  color: #9f9f9f;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
}
.infoContainer a {
  color: #4f70f8;
}
.infoContainer a:hover {
  color: #2d4bc0;
}

.info {
  padding-left: 13px;
}

.iconsContainer {
  margin-top: 25px;
}

.hobbyContainer,
.skillsContainer {
  margin-top: 55px;
}
.hobbyContainer .card,
.skillsContainer .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 299px;
  height: 200px;
  padding: 25px 0;
  text-align: center;
  border-radius: 15px;
  background-color: #141f3d;
  box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.48);
}
.hobbyContainer .card .card-img,
.skillsContainer .card .card-img {
  max-width: 80px;
}
.hobbyContainer .card .card-title,
.skillsContainer .card .card-title {
  margin-top: 15px;
  color: #f3f3f3;
}

.educationContainer {
  margin-top: 55px;
}
.educationContainer .card-education {
  padding: 25px 35px;
  border-radius: 15px;
  background-color: #141f3d;
  color: #f3f3f3;
  box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.48);
}

.certificationContainer {
  margin: 55px auto 35px;
}
.certificationContainer .cardCertif {
  max-width: 630px;
  padding: 15px;
  border-radius: 10px;
  background-color: #141f3d;
  box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.48);
}
.certificationContainer .cardCertif .img-certif {
  max-height: 500px;
  overflow: auto;
}
.certificationContainer .cardCertif .img-certif .card-certif-img {
  height: 100%;
  width: 100% !important;
  object-fit: cover !important;
  object-position: 50 50 !important;
  border: 1px solid white;
}
.certificationContainer .cardCertif .card-certif-title {
  text-align: center;
  color: #f3f3f3;
  font-size: 20px;
  margin-top: 15px;
}

@media (min-width: 750px) {
  .about .socialIcons .icon {
    display: flex;
  }
  .about .socialIcons::before {
    background-color: rgba(159, 159, 159, 0.462745098);
    content: "";
    height: 2px;
    width: 30px;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
  }
  .card-title-education {
    font-size: 25px;
  }
  .card-subtitle-education {
    font-size: 15px;
  }
  .card-text-education {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .personalImage {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .personalImage img {
    height: 605px;
    z-index: 50;
    border-radius: 0;
    padding: 3px;
  }
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-top: 50px;
  padding-bottom: 50px;
}

.projectCard {
  color: #f3f3f3;
  border-radius: 3px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
  flex-direction: column;
  padding: 0 !important;
  cursor: pointer;
}
.projectCard::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #141f3d;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.row {
  padding: 0;
  margin: 0;
}

.textWrap {
  transition: all 0.9s ease-in-out;
  z-index: 1;
}

.projectLink {
  text-decoration: none;
}

.imageContainer img {
  height: 14em;
  margin-top: 25px;
  transition: all 1.3s ease-in-out;
}

.tech {
  font-size: 12px;
  white-space: nowrap;
}

.viewWork {
  font-size: 14px;
}

.projectTitle {
  font-size: 24px;
  padding: 10px 0;
}

.githubLink {
  text-decoration: none;
}

.closeModal {
  margin-left: 250px;
  margin-top: -20px;
}

.closeModal:hover {
  filter: brightness(100);
}

.modalTitle {
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

.projectDescription {
  margin-bottom: 10px;
}

@media (min-width: 750px) {
  .projectCard {
    flex-direction: row;
    padding: 30px !important;
    height: 350px;
  }
  .project {
    padding-left: 50px;
    padding-right: 50px;
  }
  .imageContainer {
    transform: translateX(30%);
    transition: all 0.3s ease-in-out;
  }
  .projectCard:hover .imageContainer {
    transform: translateX(-70%);
  }
  .projectCard:hover:hover .textWrap {
    transform: translateX(-250%);
  }
  .projectCard:hover:hover::before {
    opacity: 0;
  }
  .projectCard:hover:hover .imageContainer img {
    scale: 1.4;
  }
  .imageContainer {
    transform: translateX(30%);
    transition: all 0.3s ease-in-out;
  }
  .textWrap {
    text-shadow: none;
  }
  .projectTitle {
    font-size: 30px;
    padding: 10px 0;
  }
  .viewWork {
    font-size: 16px;
  }
  .tech {
    font-size: 14px;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.contact .socialIcons {
  display: none;
}

.contentTitle {
  color: #f3f3f3;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.contactInfo {
  font-size: 12px;
  color: #9f9f9f;
  margin-bottom: 30px;
  margin-left: 10px;
}

.contentDescription {
  font-size: 15px;
}

.info {
  font-size: 15px;
}

.infoDescription {
  margin-bottom: 30px;
}

.personalContactInfo {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

.mediaWrap {
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.mediaWrap a:hover {
  color: #2d4bc0;
}

.formControl {
  font-size: 15px;
  border: 1px solid rgba(159, 159, 159, 0.462745098) !important;
  width: 100%;
  padding: 13px 23px;
  border: none;
  background-color: transparent !important;
  margin-bottom: 20px;
  border-radius: 25px;
  outline: none;
  color: rgba(159, 159, 159, 0.462745098);
}
.formControl:focus {
  background-color: transparent !important;
}

textarea {
  resize: none;
  height: auto;
  font-family: "Poppins", sans-serif;
}

.formSubmit {
  width: 75%;
  margin: 0 auto;
}
.formSubmit .btn-submit-message {
  width: 100%;
}

.icons {
  color: #4f70f8;
  font-size: 28px;
}

.infoIcon {
  width: 50px;
  display: flex;
  align-items: center;
}

.infoType {
  color: #f3f3f3;
  font-size: 15px;
}

.infoValue a {
  color: #4f70f8;
}

.contactForm {
  margin-bottom: 30px;
}

@media (min-width: 400px) {
  .contactInfo {
    font-size: 15px;
  }
}
@media (min-width: 750px) {
  .contact .width-icons {
    width: 50%;
  }
  .contact .width-icons .socialIcons {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
  }
  .contact .socialIcons::before, .contact .socialIcons::after {
    background-color: rgba(159, 159, 159, 0.462745098);
    content: "";
    height: 2px;
    width: 50px;
    display: inline-block;
    margin-bottom: 7px;
    margin-right: 10px;
  }
}
@media (min-width: 900px) {
  .contact .width-icons {
    width: 30%;
  }
}
